body{
    padding: 0;
    margin: 0;
    height: 100vh;
    color: #033043;
    background-color: #f5f5f5;
}

input[type="checkbox"]{
    accent-color: #033043 !important;
    background-color: #033043 !important;
  }
  
.select:focus{
    color: #033043 !important;
}

.search{
    background-color: #033043;
    border-radius: 5px;
}